{% extends "base.html" %}
{% block content %}
  <p>
    Hello, {{ user.preferred_username }} 👋
    <small>(<a href="{{ url_for('logout') }}">logout</a>)</small>
  </p>

  {% if user.preferred_username in invites and invites[user.preferred_username]|length > 0 %}
    <table>
      <tr>
        <th>Link</th>
        <th>Validity</th>
        <th>Actions</th>
      </tr>
      {% for invite in invites[user.preferred_username] %}
        <tr>
          <td>
            <a class="invite" href="{{ url_for('register_invite', invite=invite.link) }}">
              {{ url_for('register_invite', invite=invite.link) }}
            </a>
          </td>
          <td> {{ invite.validity }} </td>
          <td> <a href="{{ url_for('invite_keycloak_delete') }}?invite={{ invite.link }}">delete</a> </td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  <p>
    <a href="{{ url_for('invite_keycloak_create') }}">Generate an invite link</a>
  </p>
{% endblock %}
