{% extends "base.html" %}
{% block content %}
  <p>
    You've been invited by {{ username }} to register an account!
  </p>

  <form method="post" action="{{ url_for('form_keycloak_register') }}">
    <label for="first_name">First name:</label>
    <input type="text" name="first_name" />

    <label for="last_name">Last name:</label>
    <input type="text" name="last_name" />

    <label for="username">Username:</label>
    <input type="text" name="username" />

    <label for="email">Email:</label>
    <input type="text" name="email" />

    <label for="password">Password:</label>
    <input type="password" name="password" />

    <input type="hidden" name="invited_by" value="{{ username }}"/>

    <input type="submit" />
  </form>

{% endblock %}
