<html>
  <head>
    <title>Register</title>
    <style>
      input {
        display: block;
      }
    </style>
  </head>
  <body>
    <p>
      You've been invited by {{ username }} to register an account!
    </p>

    <form method="post" action="{{ url_for('form_keycloak_register') }}">
      <label for="first_name">First name:</label>
      <input type="text" name="first_name" />

      <label for="last_name">Last name:</label>
      <input type="text" name="last_name" />

      <label for="username">Username:</label>
      <input type="text" name="username" />

      <label for="email">Email:</label>
      <input type="text" name="email" />

      <label for="password">Password:</label>
      <input type="password" name="password" />

      <input type="submit" />
    </form>

    {% if success %}
    <p>
      An email verification mail has been sent to {{ email }}. Please check your
      mail shortly to verify account and set your account password. Please also
      check your spam inbox in case it ends up in there.
    </p>
    {% elif failure %}
    <p>Something went wrong, oops! Please contact the system administrator.</p>
    {% endif %}
  </body>
</html>
